html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight:bolder;
  }
  
  body {
    background: #ffffff;
    font-size: 16px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  #total-deck{
    display: none;
  }

  #card-deck {
    width: 85%;
    background: #716F71;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap; /*自动换行*/
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0.5em; /*边距 第三项下边距*/
  }
  
  #card-deck .card {
    height: 3.7rem;
    width: 3.7rem;
    margin: 0.2rem 0.2rem;
    background: #141214;
    font-size: 0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  #target-card1,#target-card2 {
    width: 90%;
    height: auto;
    background: #716F71;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0.5em;
    flex-direction: row; /* 将排列方向设置为横向 */
    }
    #target-card1{
      border: red solid 2px;
    }
    #target-card2{
      border: blue solid 2px;
    }

    #target-card1 .card, #target-card2 .card {
        /* 16:12添加 */
        position: relative;
        height: 3rem; /* 可以根据需要调整高度 */
        width: 3rem; /* 设置固定的宽度 */
        margin: 0.2rem; /* 修改间距 */
        background: #141214;
        font-size: 33px;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        /*0226 15:49添加 */
        visibility: visible;
    } 

    #card-deck .open .icon{
      width: 90%;
      height: 90%;
    }
    #card-deck .card:not(.open) .icon{
      width: 0;
      height: 0;
    }
    svg{
      width: 90%;
      height: 90%;
    }



  /* 边框设置 */
  #card-deck.redaction{
    border: 5px solid red;
  }
  #card-deck.blueaction{
    border: 5px solid blue;
  }

  .card.redcurrent {
    border: 0.5px solid red;
    border-radius: 5px;
  }
  .card.rednext {
    border: 2px solid red;
    border-radius: 5px;
  }
  .card.bluecurrent {
    border: 0.5px solid blue;
    border-radius: 5px;
  }
  .card.bluenext{
    border: 2px solid blue;
    border-radius: 5px;
  }
  .card.eliminate {
    border: 2px solid grey;
    border-radius: 5px;
  }
  .card.finish {
    border: 2px solid gold;
    border-radius: 5px;
  }

  #target-card1 .card.redcurrent::after {
    content: 'Current';
    position: absolute;
    top: -20px; /* 调整文本相对于容器的垂直位置 */
    left: 50%; /* 将文本水平居中 */
    transform: translateX(-50%); /* 通过平移来使文本水平居中 */
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  #target-card2 .card.bluecurrent::after {
    content: 'Current';
    position: absolute;
    top: -20px; /* 调整文本相对于容器的垂直位置 */
    left: 50%; /* 将文本水平居中 */
    transform: translateX(-50%); /* 通过平移来使文本水平居中 */
    background: blue;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  #target-card1 .card.rednext::after {
    content: 'Next';
    position: absolute;
    top: -20px; /* 调整文本相对于容器的垂直位置 */
    left: 50%; /* 将文本水平居中 */
    transform: translateX(-50%); /* 通过平移来使文本水平居中 */
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  #target-card2 .card.bluenext::after {
    content: 'Next';
    position: absolute;
    top: -20px; /* 调整文本相对于容器的垂直位置 */
    left: 50%; /* 将文本水平居中 */
    transform: translateX(-50%); /* 通过平移来使文本水平居中 */
    background: blue;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  .card.eliminate::after {
    content: 'Eliminate';
    position: absolute;
    top: -20px; /* 调整文本相对于容器的垂直位置 */
    left: 50%; /* 将文本水平居中 */
    transform: translateX(-50%); /* 通过平移来使文本水平居中 */
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  .card.finish::after {
    content: 'Finish';
    position: absolute;
    top: 49px; /* 调整文本相对于容器的垂直位置 */
    left: 50%; /* 将文本水平居中 */
    transform: translateX(-50%); /* 通过平移来使文本水平居中 */
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  



  #card-deck .card.open ,#test-deck .test-card.open{
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-duration: .75s;
  }
  
  #card-deck .card.show ,#test-deck .test-card.show{
    font-size: 33px;
  }

  /* 20:19暂时删除#card-deck */
  .card.match {
    cursor: default;
    background: #E5F720;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-duration: .75s;
  }
  /* 同样暂时删除 */
  .card.unmatched {
    animation-name: pulse;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-duration: .75s;
    background: #e204d3;
  }
  
  .deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
  }
  
  .score-panel {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .score-panel .restart {
    float: right;
    cursor: pointer;
  }
  
  .timer {
    display: inline-block;
    margin: 0 1rem;
  
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
    
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
  }
    
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #E5F720;
  }
  
  .popup .content-1,
  .content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
  }
  
  .show {
    visibility: visible;
    opacity: 100;
  }
  
  #starRating li {
    display: inline-block;
  }
  
  #play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff;
    border-radius: 5px;
  }
  
  /* 卡片打开时的动画 */
@keyframes flipInY {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
  /* 卡片匹配时的动画 */
@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  /* 卡片不匹配时的动画 */
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  /* 适用于 400px 以下的样式*/
@media (max-width: 420px) {
    #card-deck {
        width: 85%;
      }
    #card-deck .card {
        height: 3rem;
        width: 3rem;
    }

    .deck {
      width: 85%;
    }
  
    #targeted-card1 .card, #targeted-card2 .card {
      height: 4.7rem;
      width: 4.7rem;
    }
  }
  
  /* 适用于 768px 以上的样式*/
  @media (min-width: 420px) {
    .container {
      font-size: 22px;
    }
    
    #card-deck{
        width: 400px;
        height: 400px;
    }
    #card-deck .card {
        height: 70px;
        width: 70px;
      }

    .deck {
      width: 660px;
      height: 680px;
    }
  
    .deck .card {
      height: 125px;
      width: 125px;
    }
  
    .popup {
      width: 60%;
    }
  }
  
  /* 测试 */
  #test-deck .test-card.D:not(.open)::before{
    content: url("data:image/svg+xml,%3Csvg t='1708872110607' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9732' width='80%' height='80'%3E%3Cpath d='M738.312533 502.254933c0 52.130133-10.538667 99.165867-31.624533 141.064534-21.085867 41.915733-49.390933 74.632533-84.906667 98.133333-28.885333 18.1504-58.205867 30.2848-87.978666 36.420267-29.7728 6.135467-67.7888 9.198933-114.039467 9.198933H288.2816V216.285867h129.954133c53.666133 0 95.7696 4.027733 126.3104 12.074666 30.532267 8.046933 56.541867 19.106133 78.011734 33.160534 36.804267 24.285867 65.288533 56.541867 85.486933 96.7936 20.1728 40.251733 30.267733 88.234667 30.267733 143.940266z m-78.958933-1.152c0-43.946667-7.287467-81.4592-21.853867-112.512s-36.164267-55.261867-64.785066-72.644266c-20.189867-12.270933-41.7792-21.085867-64.785067-26.453334s-51.626667-8.046933-85.870933-8.046933h-57.8816v440.448h57.8816c33.732267 0 63.249067-2.679467 88.5504-8.046933s48.426667-15.3344 69.384533-29.9008c26.3168-17.885867 46.122667-41.719467 59.4176-71.483734 13.2864-29.764267 19.9424-66.8928 19.9424-111.36z' p-id='9733' fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #test-deck .test-card.Y:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708872185589'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='10146'%20width='80%25'%20height='80'%3E%3Cpath%20d='M747.451733%20216.285867L554.632533%20534.4512v252.6208h-75.904v-244.565333L285.917867%20216.285867h84.334933l147.2%20251.8528%20149.504-251.8528h80.494933z'%20p-id='10147'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #test-deck .test-card.R:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876499813'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='14923'%20width='80%25'%20height='80'%3E%3Cpath%20d='M738.798933%20787.063467H640.2816L459.349333%20560.136533H372.718933v226.935467H296.814933V216.285867h147.2c32.708267%200%2060.117333%201.792%2082.2272%205.367466%2022.101333%203.584%2043.127467%2011.886933%2063.061334%2024.917334%2019.933867%2012.782933%2035.712%2029.269333%2047.342933%2049.450666%2011.6224%2020.189867%2017.442133%2045.2352%2017.442133%2075.136%200%2041.915733-10.606933%2076.928-31.8208%20105.0368-21.213867%2028.117333-50.090667%2048.9472-86.6304%2062.481067l203.1616%20248.388267zM574.737067%20376.900267c0-16.605867-2.944-31.368533-8.814934-44.270934-5.879467-12.9024-14.9504-23.441067-27.2128-31.624533-10.734933-7.150933-23.261867-12.202667-37.563733-15.138133-14.318933-2.935467-32.0768-4.411733-53.282133-4.411734h-75.136v215.432534h66.696533c21.717333%200%2041.2672-1.92%2058.6496-5.751467%2017.373867-3.831467%2032.196267-11.7504%2044.4672-23.765333a99.063467%2099.063467%200%200%200%2024.3456-38.331734c5.2224-14.813867%207.850667-32.2048%207.850667-52.138666z'%20p-id='14924'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }

  /* 卡片背面内容 */
  #card-deck .card.D:not(.open)::before{
    content: url("data:image/svg+xml,%3Csvg t='1708872110607' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9732' width='80%' height='80'%3E%3Cpath d='M738.312533 502.254933c0 52.130133-10.538667 99.165867-31.624533 141.064534-21.085867 41.915733-49.390933 74.632533-84.906667 98.133333-28.885333 18.1504-58.205867 30.2848-87.978666 36.420267-29.7728 6.135467-67.7888 9.198933-114.039467 9.198933H288.2816V216.285867h129.954133c53.666133 0 95.7696 4.027733 126.3104 12.074666 30.532267 8.046933 56.541867 19.106133 78.011734 33.160534 36.804267 24.285867 65.288533 56.541867 85.486933 96.7936 20.1728 40.251733 30.267733 88.234667 30.267733 143.940266z m-78.958933-1.152c0-43.946667-7.287467-81.4592-21.853867-112.512s-36.164267-55.261867-64.785066-72.644266c-20.189867-12.270933-41.7792-21.085867-64.785067-26.453334s-51.626667-8.046933-85.870933-8.046933h-57.8816v440.448h57.8816c33.732267 0 63.249067-2.679467 88.5504-8.046933s48.426667-15.3344 69.384533-29.9008c26.3168-17.885867 46.122667-41.719467 59.4176-71.483734 13.2864-29.764267 19.9424-66.8928 19.9424-111.36z' p-id='9733' fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.Y:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708872185589'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='10146'%20width='80%25'%20height='80'%3E%3Cpath%20d='M747.451733%20216.285867L554.632533%20534.4512v252.6208h-75.904v-244.565333L285.917867%20216.285867h84.334933l147.2%20251.8528%20149.504-251.8528h80.494933z'%20p-id='10147'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.F:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876024199'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='12805'%20width='80%25'%20height='80'%3E%3Cpath%20d='M681.0368%20283.7504H415.3856V444.757333h254.532267v67.464534H415.3856v274.8416H339.4816V216.285867h341.546667v67.464533z'%20p-id='12806'%20fill='%23dbdbdb'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.B:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876164467'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='13387'%20width='80%25'%20height='80'%3E%3Cpath%20d='M718.114133%20611.882667c0%2028.3648-5.367467%2053.418667-16.1024%2075.136-10.734933%2021.7344-25.173333%2039.620267-43.3152%2053.666133-21.469867%2016.8704-44.4672%2028.817067-69.000533%2035.848533s-56.226133%2010.530133-95.069867%2010.530134H330.948267V216.285867h151.415466c40.635733%200%2071.108267%201.339733%2091.426134%204.027733s39.799467%209.0112%2058.461866%2018.978133c20.445867%2010.990933%2035.387733%2025.3696%2044.8512%2043.127467%209.4464%2017.7664%2014.1824%2038.656%2014.1824%2062.677333%200%2026.837333-7.0912%2050.858667-21.2736%2074.1824-14.1824%2021.213867-33.800533%2037.828267-58.845866%2049.834667v3.063467c33.979733%209.198933%2060.305067%2026.0096%2078.967466%2050.4064%2018.653867%2024.405333%2027.9808%2054.8864%2027.9808%2091.4176zM612.317867%20355.822933c0-13.7984-2.304-25.745067-6.903467-35.84-4.599467-10.094933-12.014933-18.0736-22.229333-23.9616-12.270933-6.903467-25.941333-11.118933-41.019734-12.6464-15.086933-1.536-35.908267-2.304-62.481066-2.304h-72.832v167.133867h86.2464c23.765333%200%2041.2672-1.211733%2052.514133-3.643733%2011.2384-2.423467%2022.869333-7.4752%2034.884267-15.138134%2011.502933-7.406933%2019.677867-17.117867%2024.533333-29.1328%204.855467-12.014933%207.287467-26.837333%207.287467-44.4672zM639.146667%20614.946133c0-21.469867-3.063467-39.150933-9.198934-53.085866s-18.5344-25.7536-37.179733-35.464534a113.211733%20113.211733%200%200%200-39.287467-12.2624c-14.1824-1.783467-34.312533-2.679467-60.373333-2.679466H406.852267v210.833066h61.713066c33.220267%200%2059.4176-1.536%2078.583467-4.599466s36.036267-9.582933%2050.602667-19.549867c14.3104-9.966933%2024.7808-21.265067%2031.4368-33.92%206.638933-12.654933%209.9584-29.064533%209.9584-49.271467z'%20p-id='13388'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.H:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876199949'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='13585'%20width='80%25'%20height='80'%3E%3Cpath%20d='M719.735467%20787.063467h-75.904V507.6224H381.252267v279.4496H305.348267V216.285867h75.904V440.149333h262.5792V216.285867h75.904v570.7776z'%20p-id='13586'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.W:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876307495'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='13933'%20width='80%25'%20height='80'%3E%3Cpath%20d='M860.1856%20216.285867L716.817067%20787.063467H631.330133L515.182933%20313.2672%20401.7152%20787.063467h-83.566933L172.100267%20216.285867h77.815466l115.003734%20474.564266L479.146667%20216.285867h77.047466L671.573333%20695.4496l114.235734-479.163733h74.376533z'%20p-id='13934'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.Q:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876361094'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='14131'%20width='80%25'%20height='80'%3E%3Cpath%20d='M762.615467%20926.600533c-13.7984%203.584-28.305067%206.263467-43.511467%208.046934a389.717333%20389.717333%200%200%201-45.422933%202.679466c-42.683733%200-77.371733-12.014933-104.072534-36.036266-26.709333-24.0128-41.344-58.2656-43.895466-102.7328h-17.629867c-38.587733%200-73.412267-6.5792-104.456533-19.7376a215.2448%20215.2448%200%200%201-79.5392-57.7024c-21.981867-25.301333-38.852267-56.465067-50.602667-93.533867C261.725867%20590.532267%20255.854933%20548.616533%20255.854933%20501.853867c0-48.042667%205.9392-90.205867%2017.826134-126.498134%2011.886933-36.283733%2028.808533-67.464533%2050.7904-93.533866%2021.973333-25.301333%2048.494933-44.526933%2079.5392-57.693867%2031.0528-13.1584%2065.7408-19.7376%20104.072533-19.7376%2038.843733%200%2073.847467%206.775467%20105.0368%2020.317867%2031.172267%2013.550933%2057.4976%2032.580267%2078.967467%2057.1136%2021.717333%2025.053867%2038.5792%2056.098133%2050.602666%2093.149866%2012.0064%2037.060267%2018.013867%2079.351467%2018.013867%20126.882134%200%2073.864533-14.4384%20134.8096-43.3152%20182.843733-28.885333%2048.0512-68.369067%2080.631467-118.4512%2097.749333%201.271467%2014.318933%203.7632%2027.153067%207.4752%2038.536534%203.703467%2011.3664%208.490667%2020.369067%2014.378667%2027.016533a61.781333%2061.781333%200%200%200%2025.105066%2017.450667c9.8304%203.703467%2023.313067%205.546667%2040.439467%205.546666%2010.2144%200%2022.229333-1.604267%2036.036267-4.7872%2013.7984-3.2%2023.765333-6.084267%2029.9008-8.635733h10.350933v69.026133z%20m-80.887467-424.7296c0-37.819733-4.087467-71.296-12.270933-100.437333-8.183467-29.1328-19.6864-53.282133-34.500267-72.448-15.086933-19.677867-33.288533-34.432-54.621867-44.270933-21.341867-9.8304-45.303467-14.754133-71.876266-14.754134-27.5968%200-51.694933%204.795733-72.260267%2014.378667-20.573867%209.582933-38.784%2024.4736-54.621867%2044.654933-15.086933%2019.421867-26.641067%2043.835733-34.688%2073.216-8.046933%2029.3888-12.074667%2062.6176-12.074666%2099.669334%200%2074.88%2015.7184%20132.2496%2047.146666%20172.1088s73.6%2059.8016%20126.498134%2059.8016%2095.0016-19.933867%20126.3104-59.8016c31.300267-39.867733%2046.958933-97.237333%2046.958933-172.117334z'%20p-id='14132'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.K:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876396775'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='14329'%20width='80%25'%20height='80'%3E%3Cpath%20d='M729.796267%20787.063467H631.287467l-208.1536-265.642667-33.348267%2037.563733v228.087467H313.8816V216.285867h75.904v262.5792L623.616%20216.285867h92.381867L479.863467%20471.202133l249.9328%20315.861334z'%20p-id='14330'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.T:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708916403915'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='947'%20width='80%25'%20height='80'%3E%3Cpath%20d='M472.8832%20787.063467V283.7504H281.216v-67.464533h459.229867v67.464533h-191.658667v503.313067h-75.904z'%20p-id='948'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.X:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876470364'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='14677'%20width='80%25'%20height='80'%3E%3Cpath%20d='M734.318933%20787.063467H647.296L508.151467%20558.600533%20366.702933%20787.063467H284.663467l181.316266-285.576534L290.030933%20216.285867H376.661333l136.465067%20224.247466L651.52%20216.285867h82.414933L555.298133%20497.655467l179.0208%20289.408z'%20p-id='14678'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.R:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876499813'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='14923'%20width='80%25'%20height='80'%3E%3Cpath%20d='M738.798933%20787.063467H640.2816L459.349333%20560.136533H372.718933v226.935467H296.814933V216.285867h147.2c32.708267%200%2060.117333%201.792%2082.2272%205.367466%2022.101333%203.584%2043.127467%2011.886933%2063.061334%2024.917334%2019.933867%2012.782933%2035.712%2029.269333%2047.342933%2049.450666%2011.6224%2020.189867%2017.442133%2045.2352%2017.442133%2075.136%200%2041.915733-10.606933%2076.928-31.8208%20105.0368-21.213867%2028.117333-50.090667%2048.9472-86.6304%2062.481067l203.1616%20248.388267zM574.737067%20376.900267c0-16.605867-2.944-31.368533-8.814934-44.270934-5.879467-12.9024-14.9504-23.441067-27.2128-31.624533-10.734933-7.150933-23.261867-12.202667-37.563733-15.138133-14.318933-2.935467-32.0768-4.411733-53.282133-4.411734h-75.136v215.432534h66.696533c21.717333%200%2041.2672-1.92%2058.6496-5.751467%2017.373867-3.831467%2032.196267-11.7504%2044.4672-23.765333a99.063467%2099.063467%200%200%200%2024.3456-38.331734c5.2224-14.813867%207.850667-32.2048%207.850667-52.138666z'%20p-id='14924'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.I:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876530947'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='15121'%20width='80%25'%20height='80'%3E%3Cpath%20d='M624.1536%20787.063467H402.5856v-58.2656h72.832V274.551467h-72.832v-58.2656h221.568v58.2656h-72.832v454.2464h72.832v58.2656z'%20p-id='15122'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.N:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876600303'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='15319'%20width='80%25'%20height='80'%3E%3Cpath%20d='M713.6%20787.063467h-85.102933L376.2688%20294.869333v492.194134H305.348267V216.285867h107.716266l229.614934%20451.9424V216.285867h70.920533v570.7776z'%20p-id='15320'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.S:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876629804'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='16337'%20width='80%25'%20height='80'%3E%3Cpath%20d='M507.101867%20797.4144c-41.403733%200-76.612267-4.283733-105.608534-12.834133-29.0048-8.567467-56.2944-19.0976-81.8432-31.633067v-95.061333h5.367467a274.3808%20274.3808%200%200%200%2085.102933%2054.6304c31.684267%2012.9024%2062.225067%2019.3536%2091.613867%2019.3536%2041.9072%200%2073.6-8.746667%2095.069867-26.248534s32.196267-40.567467%2032.196266-69.1968c0-22.7328-5.623467-41.2672-16.8704-55.586133-11.246933-14.301867-29.1328-24.917333-53.666133-31.8208a880.776533%20880.776533%200%200%200-48.298667-12.6464%202162.8928%202162.8928%200%200%201-54.818133-13.4144c-19.6864-5.102933-37.316267-11.6224-52.898133-19.549867a149.0432%20149.0432%200%200%201-41.403734-31.0528c-11.758933-12.5184-20.8896-27.272533-27.409066-44.270933-6.519467-16.989867-9.7792-36.608-9.7792-58.845867%200-46.250667%2018.013867-85.034667%2054.050133-116.343466%2036.036267-31.300267%2082.030933-46.958933%20138.001067-46.958934%2031.940267%200%2062.1568%203.2%2090.658133%209.582934%2028.4928%206.391467%2054.877867%2015.470933%2079.1552%2027.2128v90.845866h-5.751467c-18.1504-16.605867-41.403733-31.112533-69.768533-43.511466a220.7744%20220.7744%200%200%200-89.3184-18.594134c-35.268267%200-63.7696%208.2432-85.486933%2024.721067-21.725867%2016.4864-32.580267%2038.144-32.580267%2064.9728%200%2024.285867%206.382933%2043.5712%2019.165867%2057.8816%2012.7744%2014.318933%2031.300267%2024.789333%2055.586133%2031.4368%2016.1024%204.352%2035.771733%209.2672%2059.0336%2014.754133%2023.253333%205.504%2042.5472%2010.538667%2057.8816%2015.138134%2039.3472%2012.014933%2068.096%2030.1568%2086.2464%2054.4256%2018.141867%2024.285867%2027.2128%2054.186667%2027.2128%2089.7024%200%2022.229333-4.539733%2044.219733-13.610667%2065.937066-9.070933%2021.7344-21.794133%2040.132267-38.144%2055.202134a199.424%20199.424%200%200%201-62.293333%2038.331733c-23.099733%208.977067-52.0448%2013.44-86.792533%2013.44z'%20p-id='16338'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.A:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708920516532'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='1624'%20width='80%25'%20height='80'%3E%3Cpath%20d='M277.768533%20787.063467l192.4352-570.7776h93.533867l192.4352%20570.7776h-80.119467L624.298667%20627.601067H406.186667l-51.746134%20159.470933H277.768533z%20m325.444267-224.247467L515.0464%20293.717333%20427.264%20562.816h175.9488z'%20p-id='1625'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.E:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876708120'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='16979'%20width='80%25'%20height='80'%3E%3Cpath%20d='M330.948267%20787.063467V216.285867h356.881066v67.464533H406.852267V440.149333H668.672v67.464534H406.852267v211.976533h280.9856v67.464533H330.948267z'%20p-id='16980'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.U:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876920871'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='20512'%20width='80%25'%20height='80'%3E%3Cpath%20d='M513.220267%20798.9504c-33.4848%200-62.7456-4.4032-87.7824-13.218133-25.053867-8.814933-46.3872-21.9136-64.017067-39.296-19.933867-19.933867-33.988267-43.7504-42.1632-71.483734-8.183467-27.733333-12.270933-61.917867-12.270933-102.5536V216.285867h75.904v356.113066c0%2026.333867%201.655467%2048.503467%204.983466%2066.517334%203.319467%2018.013867%209.8304%2034.184533%2019.549867%2048.4864%2010.2144%2015.3344%2024.081067%2026.965333%2041.591467%2034.884266%2017.501867%207.936%2038.912%2011.886933%2064.2048%2011.886934%2023.765333%200%2044.8512-3.950933%2063.249066-11.886934%2018.397867-7.918933%2032.708267-19.549867%2042.9312-34.884266%209.4464-14.5664%2015.906133-30.6688%2019.362134-48.298667s5.1712-39.2192%205.1712-64.785067V216.285867h75.904v356.113066c0%2039.620267-4.027733%2073.6-12.074667%20101.9648s-22.178133%2052.4032-42.359467%2072.064c-18.1504%2017.629867-39.287467%2030.7968-63.445333%2039.483734s-53.7344%2013.038933-88.738133%2013.038933z'%20p-id='20513'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.Z:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876934994'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='20710'%20width='80%25'%20height='80'%3E%3Cpath%20d='M711.799467%20787.063467H313.130667v-70.536534l305.518933-432.776533H326.9376v-67.464533h377.198933v68.616533L395.170133%20719.598933h316.629334v67.464534z'%20p-id='20711'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.J:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876972076'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='20908'%20width='80%25'%20height='80'%3E%3Cpath%20d='M631.330133%20638.72c0%2050.0992-15.274667%2088.686933-45.806933%20115.7632-30.5408%2027.101867-71.492267%2040.635733-122.8544%2040.635733-12.270933%200-28.689067-1.083733-49.2544-3.2512-20.573867-2.184533-37.76-4.804267-51.5584-7.867733v-72.448h4.215467c10.478933%203.584%2023.441067%207.552%2038.912%2011.886933%2015.4624%204.352%2031.240533%206.519467%2047.342933%206.519467%2023.509333%200%2042.222933-2.679467%2056.157867-8.046933%2013.9264-5.367467%2024.209067-13.0304%2030.856533-22.997334%206.903467-10.2144%2011.306667-22.7328%2013.226667-37.563733%201.92-14.813867%202.875733-31.931733%202.875733-51.370667V276.855467h-120.746667v-60.5696h196.650667V638.72z'%20p-id='20909'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.L:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708876989972'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='21106'%20width='80%25'%20height='80'%3E%3Cpath%20d='M678.8352%20787.063467H348.014933V216.285867h75.904v503.313066h254.916267v67.464534z'%20p-id='21107'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.V:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708877008602'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='21304'%20width='80%25'%20height='80'%3E%3Cpath%20d='M753.1008%20216.285867l-196.266667%20570.7776h-82.030933l-196.266667-570.7776h81.262934l157.934933%20473.796266%20L675.669333%20216.285867h77.431467z'%20p-id='21305'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.M:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708877025723'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='21502'%20width='80%25'%20height='80'%3E%3Cpath%20d='M760.354133%20787.063467h-75.904V295.253333l-148.736%20334.6432h-46.0032L342.135467%20295.253333v491.810134H271.214933V216.285867h103.5008l142.600534%20317.781333%20137.617066-317.781333h105.4208v570.7776z'%20p-id='21503'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.O:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708877040526'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='21700'%20width='80%25'%20height='80'%3E%3Cpath%20d='M699.9296%20281.838933c21.717333%2025.053867%2038.5792%2056.098133%2050.602667%2093.149867%2012.0064%2037.060267%2018.013867%2079.351467%2018.013866%20126.882133%200%2046.2592-5.879467%2088.046933-17.629866%20125.346134-11.758933%2037.316267-28.7488%2068.616533-50.986667%2093.917866-23.261867%2026.581333-50.4064%2046.199467-81.4592%2058.845867s-65.237333%2018.9696-102.545067%2018.9696c-38.587733%200-73.352533-6.519467-104.2688-19.549867-30.9248-13.0304-57.4976-32.452267-79.735466-58.2656-21.981867-25.301333-38.852267-56.465067-50.602667-93.533866C269.559467%20590.549333%20263.688533%20548.6336%20263.688533%20501.870933c0-48.042667%205.9392-90.205867%2017.826134-126.498133%2011.886933-36.283733%2028.808533-67.464533%2050.7904-93.533867%2021.973333-25.301333%2048.494933-44.526933%2079.5392-57.693866%2031.0528-13.1584%2065.7408-19.7376%20104.072533-19.7376%2038.843733%200%2073.847467%206.775467%20105.0368%2020.317866%2031.1808%2013.5424%2057.506133%2032.580267%2078.976%2057.1136z%20m-10.350933%20220.032c0-37.819733-4.087467-71.296-12.270934-100.437333-8.183467-29.1328-19.6864-53.282133-34.500266-72.448-15.086933-19.677867-33.288533-34.432-54.621867-44.270933-21.341867-9.8304-45.303467-14.754133-71.876267-14.754134-27.5968%200-51.694933%204.795733-72.260266%2014.378667-20.573867%209.582933-38.784%2024.4736-54.621867%2044.654933-15.086933%2019.421867-26.641067%2043.835733-34.688%2073.216-8.046933%2029.3888-12.074667%2062.6176-12.074667%2099.669334%200%2074.88%2015.7184%20132.1984%2047.146667%20171.9296s73.6%2059.5968%20126.498133%2059.5968%2095.0016-19.8656%20126.3104-59.5968c31.300267-39.739733%2046.958933-97.058133%2046.958934-171.938134z'%20p-id='21701'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.C:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708877057028'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='21898'%20width='80%25'%20height='80'%3E%3Cpath%20d='M545.518933%20797.4144c-37.316267%200-71.6288-6.263467-102.929066-18.781867a218.786133%20218.786133%200%200%201-81.0752-55.970133c-22.749867-24.7808-40.379733-55.697067-52.898134-92.765867-12.526933-37.051733-18.781867-79.598933-18.781866-127.6416%200-47.786667%206.0672-89.437867%2018.210133-124.970666%2012.1344-35.515733%2029.832533-66.440533%2053.0944-92.765867%2022.741333-25.5488%2049.698133-45.038933%2080.887467-58.461867%2031.172267-13.4144%2066.056533-20.1216%20104.6528-20.1216%2019.165867%200%2037.12%201.408%2053.8624%204.215467%2016.733867%202.816%2032.256%206.391467%2046.574933%2010.734933a347.477333%20347.477333%200%200%201%2037.76%2014.378667%20504.994133%20504.994133%200%200%201%2038.144%2018.978133V345.856h-6.135467A658.730667%20658.730667%200%200%200%20691.2%20323.626667c-10.487467-8.686933-23.261867-17.245867-38.331733-25.685334a247.9616%20247.9616%200%200%200-47.530667-19.549866c-17.1264-5.111467-36.932267-7.662933-59.4176-7.662934-24.285867%200-47.2832%204.983467-69.000533%2014.9504-21.725867%209.966933-40.763733%2024.669867-57.1136%2044.0832-16.1024%2019.421867-28.6208%2043.835733-37.563734%2073.216-8.951467%2029.3888-13.4144%2062.481067-13.4144%2099.285334%200%2039.099733%204.727467%2072.7808%2014.1824%20101.009066%209.4464%2028.2368%2022.357333%2052.0704%2038.715734%2071.483734%2015.837867%2018.9184%2034.500267%2033.169067%2055.970133%2042.752s%2044.2112%2014.370133%2068.232533%2014.370133c%2021.973333%200%2042.2912-2.679467%2060.9536-8.046933%2018.653867-5.367467%2035.268267-12.1344%2049.834667-20.317867%2014.045867-7.918933%2026.1888-16.034133%2036.420267-24.337067%2010.2144-8.302933%2018.269867-15.402667%2024.149333-21.282133h5.751467v90.4704c-12.526933%205.879467-24.3456%2011.502933-35.456%2016.8704s-24.6016%2010.615467-40.439467%2015.7184c-16.6144%205.367467-32.008533%209.4464-46.190933%2012.270933s-32.6912%204.189867-55.432534%204.189867z'%20p-id='21899'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.P:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708877098954'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='22294'%20width='80%25'%20height='80'%3E%3Cpath%20d='M691.285333%20388.4032c0%2024.789333-4.411733%2048.238933-13.226666%2070.340267-8.814933%2022.109867-21.026133%2040.96-36.608%2056.541866-19.6864%2019.4304-42.811733%2034.116267-69.384534%2044.0832-26.581333%209.966933-60.1856%2014.9504-100.8128%2014.9504h-64.401066v212.753067H330.948267V216.285867h143.368533c33.732267%200%2062.481067%202.816%2086.2464%208.430933%2023.765333%205.623467%2044.714667%2014.702933%2062.865067%2027.2128%2021.205333%2014.5664%2037.819733%2033.032533%2049.834666%2055.389867%2012.014933%2022.3744%2018.0224%2049.399467%2018.0224%2081.083733z%20m-78.967466%201.92c0-19.677867-3.387733-36.804267-10.154667-51.370667-6.775467-14.5664-17.058133-26.453333-30.856533-35.652266-12.014933-7.918933-26.0096-13.5424-41.975467-16.8704-15.9744-3.319467-35.84-4.983467-59.605333-4.983467h-62.865067v228.087467h51.746133c30.6688%200%2055.4496-2.491733%2074.368-7.4752%2018.909867-4.983467%2034.628267-13.858133%2047.146667-26.641067%2011.2384-11.502933%2019.413333-24.0128%2024.533333-37.563733%205.102933-13.5424%207.662933-29.380267%207.662934-47.530667z'%20p-id='22295'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  #card-deck .card.G:not(.open)::before {
    content: url("data:image/svg+xml,%3Csvg%20t='1708877070472'%20class='icon'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20p-id='22096'%20width='80%25'%20height='80'%3E%3Cpath%20d='M552.704%20798.1824c-40.379733%200-77.312-6.135467-110.779733-18.397867-33.4848-12.270933-62.2336-30.916267-86.2464-55.970133-24.021333-25.301333-42.427733-56.6016-55.202134-93.917867-12.782933-37.2992-19.165867-80.2304-19.165866-128.7936%200-46.0032%206.4512-87.210667%2019.362133-123.6224%2012.9024-36.420267%2031.368533-67.524267%2055.389867-93.3376%2023.253333-25.045333%2051.874133-44.330667%2085.870933-57.8816%2033.979733-13.5424%2071.168-20.317867%20111.547733-20.317866%2019.165867%200%2037.563733%201.408%2055.202134%204.215466a386.048%20386.048%200%200%201%2050.602666%2011.502934c12.7744%203.831467%2027.025067%209.1392%2042.743467%2015.906133%2015.7184%206.775467%2028.424533%2012.5952%2038.144%2017.442133V346.624h-6.519467a437.9648%20437.9648%200%200%200-29.329066-23.9616c-10.103467-7.534933-24.3456-15.650133-42.743467-24.3456-15.3344-7.662933-32.964267-14.045867-52.898133-19.165867-19.933867-5.111467-41.403733-7.662933-64.401067-7.662933-54.946133%200-99.3536%2020.701867-133.205333%2062.097067-33.8688%2041.403733-50.7904%2096.477867-50.7904%20165.213866%200%2038.331733%204.462933%2071.816533%2013.4144%20100.4288%208.942933%2028.629333%2021.853867%2052.898133%2038.715733%2072.832a162.116267%20162.116267%200%200%200%2059.221333%2045.047467c23.125333%2010.350933%2049.1264%2015.5136%2078.011734%2015.5136%2021.469867%200%2042.8032-1.536%2064.017066-4.599467%2021.205333-3.063467%2039.099733-7.662933%2053.666134-13.7984V566.647467H535.4496v-66.696534h207.0016v249.1648c-9.719467%204.352-22.6816%209.847467-38.912%2016.4864-16.2304%206.647467-31.377067%2011.886933-45.422933%2015.7184-18.6624%205.632-35.524267%209.8304-50.602667%2012.6464-15.0784%202.816-33.348267%204.215467-54.8096%204.215467z'%20p-id='22097'%20fill='%23bfbfbf'%3E%3C/path%3E%3C/svg%3E");
  }
  